.head-name {
    margin-top: 50px;
    font-family: 'Spicy Rice', cursive;
    text-align: center;
    color: #1B4079;
    text-shadow: 2px 2px 5px grey;
}

.individual-meetup {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    justify-content: space-between;
    background-color: whitesmoke;
    color: #1B4079;
    box-shadow: 2px 2px 5px grey;
    padding: 5px;
    border-radius: 2px;
    font-family:'Barlow', sans-serif;
}
.meetup-title {
    text-align: center;
    font-family: 'Spicy Rice', cursive;
    font-size: 30px;
    background-color: #1B4079;
    color: whitesmoke;
    border-radius: 2px;
}

.meetup-info-title {
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    
}

.meetup-info {
    padding: 10px;
    font-family: 'Barlow', sans-serif;
}


.meetup-info-line {
    display: flex;
    
}

.meetup-list {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.manage-buttons {
    display: flex;
    justify-content: space-between; 
}

button {
    width: 100%;
    border-radius: 2px;
    font-family: 'Barlow', sans-serif;
}

button:enabled:hover {
    background-color: #2862B8;
    color: whitesmoke;
}

button:disabled {
    background-color: lightgray;
}