.navbar {    
    top: 0;
    left: 0;
    right:0;
    display: flex;
    background-color: #1B4079;
    justify-content: space-between;
    height: 50px;
    /* padding-right: 10px; */
    position: fixed;
    margin: 0;
    /*box-shadow: 2px 2px 5px grey;*/
}

.navbar-logo {
    font-family: 'Spicy Rice', cursive;
    font-size: 30px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding-top: 3px;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

.navbar a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
}
.navbar__item {   
    padding: 8px;
    align-items: center;
    display: flex;

}

.navbar__item:hover {
    background-color: #2862B8;
}

.navbar__logout {
    margin-right: 8px;
}

