.navbar {
    border: 1px solid black;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.navbar__item {
    border: 1px solid black;
}

.navbar__logout {
    border: 1px solid black;
}

