.head-name {
    margin-top: 50px;
    font-family: 'Spicy Rice', cursive;
    text-align: center;
    color: #1B4079;
    text-shadow: 2px 2px 5px grey;
}

.login-box {
    background-color: whitesmoke;
    color:#1B4079;
    border-radius: 2px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 2px 2px 5px grey;
    font-family: 'Barlow', sans-serif;
}

.register-form {
    background-color: whitesmoke;
    color:#1B4079;
    border-radius: 2px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 2px 2px 5px grey;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.link--register {
    text-align: center;
    color: #1B4079;
    margin-top: 5px
}

.link--register {
    text-align: center;
    color: #1B4079;
    margin-top: 5px;
}



button:hover {
    color: whitesmoke;
    background-color: #1B4079;
}
